<section
  id="rsvp"
  class="py-24 bg-linear-to-t from-sky-100 to-white text-center px-4"
>
  <div class="max-w-xl mx-auto reveal">
    <h2 class="text-3xl md:text-5xl text-slate-800 mb-4 font-serif">¿Venis?</h2>
    <p class="text-slate-500 mb-10">
      Confirmarnos antes del 2 de Marzo para organizarnos mejor.
    </p>

    <div
      class="bg-white p-8 md:p-12 rounded-[2.5rem] shadow-xl border border-sky-50 relative overflow-hidden transform transition-all hover:-translate-y-2 duration-500"
    >
      <div
        class="absolute top-0 left-0 w-full h-2 bg-linear-to-r from-cyan-300 to-blue-300"
      >
      </div>

      <div
        class="w-20 h-20 bg-cyan-50 rounded-full flex items-center justify-center mx-auto mb-6 shadow-inner border-4 border-white"
      >
        <svg
          class="w-10 h-10 text-cyan-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
          ></path></svg
        >
      </div>

      <h3 class="text-2xl font-bold text-slate-700 mb-8 font-serif">
        ¡Confirmá tu lugar!
      </h3>

      <a
        href="https://wa.me/5491124022798?text=¡Hola!%20Queremos%20confirmar%20nuestra%20asistencia%20al%20cumple%20de%20Francisco."
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block w-full py-4 bg-linear-to-r from-cyan-400 to-blue-400 text-white font-bold rounded-2xl shadow-lg hover:shadow-cyan-200/50 transform hover:scale-[1.02] transition-all duration-300 uppercase tracking-widest text-sm"
      >
        Confirmar por WhatsApp
      </a>

      <p
        class="text-xs text-slate-400 mt-5 font-medium uppercase tracking-wider"
      >
        Te enviaremos al chat directo
      </p>
    </div>
  </div>
</section>
