---
import "../styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Invitación a nuestra boda" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="font-sans antialiased text-slate-600 bg-slate-50 selection:bg-cyan-200 selection:text-cyan-900"
  >
    <slot />
  </body>
</html>

<style is:global>
  /* Definición de fuentes */
  :root {
    --font-serif: "Playfair Display", serif;
    --font-sans: "Lato", sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-serif);
  }

  body {
    font-family: var(--font-sans);
  }

  /* Animación de flotación (efecto agua) */
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float 5s ease-in-out infinite 1s;
  }

  /* Animación suave de entrada al hacer scroll */
  .reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-out;
  }

  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }
</style>
